// Global variables
:root {
    // to be accessed and manipulated at script level
    --color-normal: #12a761;   
    --color-light: #18de81;   
    --color-dark: #074226;   
    --text-color: gray;   
}
$r: 9px;
$light-val: 12%;

// Fonts
@font-face {
    font-family: RobotoReg;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoThin;
    src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: HeadReg;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: HeadBold;
    src: url('../fonts/Poppins-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

// Mixins
@mixin flex(
    $dirc: row, $just: space-between, $align: center, $wrap: nowrap
    ) {
	display: flex;
	flex-direction: $dirc;
	align-items: $align;
	justify-content: $just;
	flex-wrap: $wrap;
}

// Styles
header {
    height: 90px;
    position: sticky;
    top: 0;
    transition: height .3s ease-in-out;

    &.smaller {
        height: 45px;
        box-shadow: 0 2px 4px #c4c4c4;
        transition: height .5s ease-in-out;
        
        form {
            height: 100%;
            
            #jumble {
                color: var(--color-normal);
                font-size: 1.2rem;
                transition: font .5s ease-in-out;
            }
        }

        .count-display {
            display: none;
        }
    }
    
    form {
        height: 65%;
        width: 100%;
        background-color: #fff;
        
        #jumble {
            height: 100%;
            width: inherit;
            border: none;
            outline: none;

            text-align: center;
            font-size: 1.55rem;
            color: var(--text-color);
            transition: font .3s ease-in-out;

            &::placeholder {
                opacity: .7;
            }

            &:focus::placeholder {
                opacity: .2;
            }
        }
        
        #generate {
            display: none;
        }
    }

    .count-display {
        height: 35%;
        width: 100%;

        @include flex($just:center);
        
        background-color: var(--color-normal);
        color: #fff;
        
        text-align: center;
        font-size: .9rem;
        font-family: RobotoReg;
        
        #result-count {
            margin-right: 5px;
        }
    }
}

.container {
    display: flex;
    $pad: 20px;

    .display-area {
        padding-left: $pad;
        width: 90%;
        padding: 3vh auto;
        margin: 25px auto;
        
        display: grid;
        grid-template-columns: repeat(
            auto-fill, minmax(370px, 1fr)
        );
        $grid-gap: 25px;
        column-gap: $grid-gap;
        row-gap: $grid-gap;

        .word-group {
            border-radius: $r;

            .letter-count {
                cursor: pointer;
                user-select: none;

                font-family: HeadBold;
                letter-spacing: .05rem;
                font-size: medium;
                
                border-radius: $r $r 0 0 ;
                padding: 10px 17px;
                
                background-color: var(--color-light);
                color: var(--color-dark);

                #word-count {
                    padding: 4px 9px;
                    margin-left: 4px;

                    font-family: HeadReg;
                    font-size: .8rem;
                    font-weight: 200;
                    
                    background-color: var(--color-dark);
                    color: var(--color-light);
                    
                    border-radius: $r / 2;
                }
                
                &.hidden-active {
                    background-color: unset;
                    color: var(--color-light);
                    
                    border: 1px solid var(--color-light);
                    border-radius: $r;

                    letter-spacing: .05rem;

                    #word-count {
                        display: none;
                    }
                }
            }
            
            .anagrams {
                @include flex(row, left, unset, wrap);

                padding: 10px;
                // margin-top: .5vh;

                border: 1px solid var(--color-light);
                border-top: 0;
                border-radius: 0 0 $r $r;

                &.hidden {
                    display: none;
                }

                .word {
                    font-family: RobotoReg;
                    font-weight: 200;
                    color: var(--text-color);

                    $mg: 10px;
                    margin: $mg / 2 $mg $mg / 2 0;
                    padding: 5px 7px;

                    border-radius: $r / 2;

                    user-select: none;

                    &:hover {
                        cursor: pointer;
                        background: var(--color-light);
                        color: #fff;
                    }
                    
                    &.active {
                        color: #fff;
                        background: var(--color-normal);
                        
                        &:hover {
                            cursor: default;
                        }
                    }
                }
            }
        }
    }

    .definition-display {
        height: 83vh;
        padding: $pad $pad / 2 $pad $pad;
        margin: 25px $pad 2.5vh $pad;
        flex-basis: 370px;

        display: flex;
        flex-direction: column;

        position: sticky;
        top: 90px;

        border: 2px solid var(--color-normal);
        border-radius: $r;

        #highlight {
            margin-bottom: 17px;
            font-family: HeadReg;
            font-size: 1.1rem;
            font-weight: bold;
            letter-spacing: .1rem;
            text-transform: uppercase;
            color: var(--color-normal);
        }
        
        #definition {
            padding-right: $pad / 2;
            font-family: RobotoReg;
            font-size: .87rem;
            line-height: 1.4rem;
            color: var(--text-color);
            display: flex;
            overflow-y: auto;

            $scroll-width: 6px;
            &::-webkit-scrollbar {
                background-color: #ebebeb;
                width: $scroll-width;
                border-radius: $scroll-width / 2;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--color-normal);
                border-radius: $scroll-width / 2;
            }
        }
    }
}

// App colors
.app-colors {
    $size: 15px;
    $count: 5;

    width: $size * ($count + 3.5);
    @include flex();
    position: fixed;
    padding: 9px;
    bottom: 9px;
    left: 20px;

    .color-option {
        cursor: pointer;
        
        width: $size;
        height: $size;
        border-radius: 50%;
        opacity: .4;
        transition-property: opacity, transform;
        transition: all .2s ease-in-out;
        
        &:hover {
            opacity: 1;
            transform: scale(1.3)
        }
    }
}

#fixed-logo {
    position: fixed;
    bottom: 9px;
    right: 20px;
    transform: scale(1.2);
    opacity: .5;

    &:hover {
        opacity: 1;
    }
}
