$main-color: #00C89F;
$sub-color: #00c1c8;
$radius: 6px;

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    
    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $main-color;
    }
}

@mixin flex($dirc: row, $just: space-between, $align: center, $wrap: nowrap) {
	display: flex;
	flex-direction: $dirc;
	justify-content: $just;
	align-content: $align;
	flex-wrap: $wrap;
}

@mixin base-padding {
    padding: 1rem 1.5rem;
}

@font-face {
    font-family: RobotoReg;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoThin;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: ProdReg;
    src: url('../fonts/Product Sans Regular.ttf');
}

@font-face {
    font-family: ProdBold;
    src: url('../fonts/Product Sans Bold.ttf');
}

.flex {
	@include flex();
}

body {
    overflow-x: hidden;
}

header {
    // position: absolute;
    top: 0;
    // left: 0;
    width: 100vw;
    position: sticky;

    form {
        width: 60%;
        margin: 0 auto;
        
        #jumble {
            width: 100%;
            transform: scale(.6);
            transform-origin: top;
            padding: .9rem;
            
            border: none;
            border-radius: 0 0 $radius $radius;
            outline: none;
            
            box-shadow: 0 0 4px rgb(202, 202, 202);
            
            text-align: center;
            font-size: 1.2rem;
            font-weight: 300;
            
            transition: transform .3s ease;

            &:focus::placeholder {
                opacity: .3;
            }
            
            &:hover,
            &:focus {
                transform: scale(1);
                
                & ~ p {
                    opacity: 1;
                }
            }
        }

        #generate {
            display: none;
        }

        p {
            padding: .7rem;
            opacity: 0;
            color: $main-color;
            
            text-align: center;
            font-family: RobotoReg;
            font-size: .8rem;
            
            pointer-events: none;
            user-select: none;
            
            transition: opacity .5s ease;
        }
    }
}

@mixin grid($col_width, $col_gap, $row_gap:0) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($col_width, 1fr));
    column-gap: $col_gap; 
    row-gap: $row_gap;
}

.container {
    // width: 100vw;
    padding: 0 1.5rem; 
    
    .display-area {
        $gap: 3rem;
        min-height: 75.5vh;
        // overflow-y: auto;
        @include grid(320px, $gap, $gap);
        
        .word-group {
            border-radius: $radius;
            
            .letter-count {
                text-transform: capitalize;
            }
            
            .anagrams {
                $gap: .5rem;
                padding: $gap 0;
                @include grid(50px, $gap, $gap);

                .word, .active {
                    font-family: RobotoReg;
                    padding: .3rem;
                    border-radius: 3px;
                    // text-align: center;
                }
                
                :not(.active) {
                    cursor: pointer;

                    &:hover {
                        background-color: gray;
                        color: #fff;
                    }
                }

                .active {
                    background-color: $main-color;
                    color: #fff;
                }
            }
        }
    }
    
    .word-define {
        position: sticky;
        bottom: 0;
        padding: 0 15%;
        min-width: 220px;
        max-width: 400;
        
        #highlight {
            padding: .5rem 0;
            color: #fff;
            background-color: $main-color;
            border-radius: $radius $radius 0 0;
            text-align: center;
            text-transform: uppercase;
        }
        
        #definition {
            border-width: 0 1.5px;
            border-style: solid;
            border-color: $main-color;
            padding: 1rem 1.2rem;
            text-align: justify;
            overflow-y: auto;
            max-height: 250px;
            background-color: #fff;
        // display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;

        .display-area {
            flex-grow: .9;
        }   
        
        .word-define {
            flex-basis: 500px;
            position: unset;
            padding: 0;
            
            #highlight {
                color: unset;
                background-color: unset;
                border-radius: 0;
            }
            
            #definition {
                border: none;
                text-align: left;
                max-height: unset;
            // display: none;
            }
        }

    }
}