// #12a761
$main-color: #129da7;
$light-val: 12%;
$light-main: lighten($main-color, $light-val);
$text-gray: gray;
$r: 9px;

@font-face {
    font-family: RobotoReg;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoThin;
    src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: HeadReg;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: HeadBold;
    src: url('../fonts/Poppins-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@mixin flex(
    $dirc: row, $just: space-between, $align: center, $wrap: nowrap
    ) {
	display: flex;
	flex-direction: $dirc;
	align-items: $align;
	justify-content: $just;
	flex-wrap: $wrap;
}

header {
    height: 90px;
    position: sticky;
    top: 0;
    transition: height .3s ease-in-out;

    &.smaller {
        height: 45px;
        box-shadow: 0 2px 4px #c4c4c4;
        transition: height .5s ease-in-out;
        
        form {
            height: 100%;
            
            #jumble {
                color: $main-color;
                font-size: 1.2rem;
                transition: font .5s ease-in-out;
            }
        }

        .count-display {
            display: none;
        }
    }
    
    form {
        height: 65%;
        width: 100%;
        background-color: #fff;
        
        #jumble {
            height: 100%;
            width: inherit;
            border: none;
            outline: none;

            // background-image: url('../images/search.svg');
            // background-repeat: no-repeat;
            // background-size: 25px;
            // background-position: 25px center;

            text-align: center;
            font-size: 1.55rem;
            color: $text-gray;
            transition: font .3s ease-in-out;

            &::placeholder {
                opacity: .7;
            }

            &:focus::placeholder {
                opacity: .2;
            }
        }
        
        #generate {
            display: none;
        }
    }

    .count-display {
        height: 35%;
        width: 100%;

        @include flex($just:center);
        
        background-color: $main-color;
        color: #fff;
        
        text-align: center;
        font-size: .9rem;
        font-family: RobotoReg;
        
        #result-count {
            margin-right: 5px;
        }
    }
}

.container {
    display: flex;
    $pad: 20px;

    .display-area {
        padding-left: $pad;
        width: 90%;
        padding: 3vh auto;
        margin: 25px auto;
        
        display: grid;
        grid-template-columns: repeat(
            auto-fill, minmax(370px, 1fr)
        );
        column-gap: 25px;
        row-gap: 25px;

        .word-group {
            border-radius: $r;

            .letter-count {
                $darker: darken($main-color, 22%);
                cursor: pointer;

                font-family: HeadBold;
                letter-spacing: .05rem;
                font-size: medium;
                
                border-radius: $r $r 0 0 ;
                padding: 10px 17px;
                
                background-color: $light-main;
                color: $darker;

                #word-count {
                    padding: 4px 9px;
                    margin-left: 4px;

                    font-family: HeadReg;
                    font-size: .8rem;
                    font-weight: 200;
                    
                    background-color: $darker;
                    color: $light-main;
                    
                    border-radius: $r / 2;
                }
                
                &.hidden-active {
                    background-color: unset;
                    color: $light-main;
                    
                    border: 1px solid $light-main;
                    border-radius: $r;

                    letter-spacing: .05rem;

                    #word-count {
                        display: none;
                    }
                }
            }
            
            .anagrams {
                display: flex;
                flex-wrap: wrap;
                justify-content: left;

                padding: 10px;
                // margin-top: .5vh;

                border: 1px solid $light-main;
                border-top: 0;
                border-radius: 0 0 $r $r;

                &.hidden {
                    display: none;
                }

                .word {
                    font-family: RobotoReg;
                    font-weight: 200;
                    color: $text-gray;

                    $mg: 10px;
                    margin: $mg / 2 $mg $mg / 2 0;
                    padding: 5px 7px;

                    border-radius: $r / 2;

                    user-select: none;

                    &:hover {
                        cursor: pointer;
                        background: $light-main;
                        color: #fff;
                    }
                    
                    &.active {
                        color: #fff;
                        background: $main-color;
                        
                        &:hover {
                            cursor: default;
                        }
                    }
                }
            }
        }
    }

    .definition-display {
        $def-color: $main-color;

        height: 83vh;
        padding: $pad $pad / 2 $pad $pad;
        margin: 25px $pad 2.5vh $pad;
        flex-basis: 370px;

        display: flex;
        flex-direction: column;

        position: sticky;
        top: 90px;

        border: 2px solid $def-color;
        border-radius: $r;

        #highlight {
            margin-bottom: 17px;
            font-family: HeadReg;
            font-size: 1.1rem;
            font-weight: bold;
            letter-spacing: .1rem;
            text-transform: uppercase;
            color: $def-color;
            
        }
        
        #definition {
            padding-right: $pad / 2;
            font-family: RobotoReg;
            font-size: .87rem;
            line-height: 1.4rem;
            color: $text-gray;
            display: flex;
            overflow-y: auto;

            $scroll-width: 6px;
            &::-webkit-scrollbar {
                background-color: #ebebeb;
                width: $scroll-width;
                border-radius: $scroll-width / 2;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $def-color;
                border-radius: $scroll-width / 2;
            }
        }
    }
}

// App colors
// .app-colors {
//     $size: 15px;
//     $count: 5;

//     width: $size * ($count + 3);
//     @include flex();
//     position: fixed;
//     padding: 9px;
//     bottom: 9px;
//     left: 20px;

//     opacity: .4;

//     &:hover {
//         opacity: 1;
//     }
    
//     .color {
//         cursor: pointer;
        
//         width: $size;
//         height: $size;
//         border-radius: 50%;

//         @each $i, $color in 
//             1 $main-color,
//             2 #a73012,
//             3 #129da7,
//             4 #a7126e,
//             5 #a5a712 {
//                 $color: lighten($color, $light-val);
//                 &:nth-child(#{$i}) {
//                     background-color: $color;
//                 }
//         }
//     }
// }

#fixed-logo {
    position: fixed;
    bottom: 9px;
    right: 20px;
    transform: scale(1.2);
    opacity: .5;

    &:hover {
        opacity: 1;
    }
}
