* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #00C89F;
}

@font-face {
  font-family: RobotoReg;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: RobotoThin;
  src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: ProdReg;
  src: url("../fonts/Product Sans Regular.ttf");
}

@font-face {
  font-family: ProdBold;
  src: url("../fonts/Product Sans Bold.ttf");
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body {
  overflow-x: hidden;
}

header {
  top: 0;
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
}

header form {
  width: 60%;
  margin: 0 auto;
}

header form #jumble {
  width: 100%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transform-origin: top;
          transform-origin: top;
  padding: .9rem;
  border: none;
  border-radius: 0 0 6px 6px;
  outline: none;
  -webkit-box-shadow: 0 0 4px #cacaca;
          box-shadow: 0 0 4px #cacaca;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

header form #jumble:focus::-webkit-input-placeholder {
  opacity: .3;
}

header form #jumble:focus:-ms-input-placeholder {
  opacity: .3;
}

header form #jumble:focus::-ms-input-placeholder {
  opacity: .3;
}

header form #jumble:focus::placeholder {
  opacity: .3;
}

header form #jumble:hover, header form #jumble:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
}

header form #jumble:hover ~ p, header form #jumble:focus ~ p {
  opacity: 1;
}

header form #generate {
  display: none;
}

header form p {
  padding: .7rem;
  opacity: 0;
  color: #00C89F;
  text-align: center;
  font-family: RobotoReg;
  font-size: .8rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.container {
  padding: 0 1.5rem;
}

.container .display-area {
  min-height: 75.5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 3rem;
}

.container .display-area .word-group {
  border-radius: 6px;
}

.container .display-area .word-group .letter-count {
  text-transform: capitalize;
}

.container .display-area .word-group .anagrams {
  padding: 0.5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.container .display-area .word-group .anagrams .word, .container .display-area .word-group .anagrams .active {
  font-family: RobotoReg;
  padding: .3rem;
  border-radius: 3px;
}

.container .display-area .word-group .anagrams :not(.active) {
  cursor: pointer;
}

.container .display-area .word-group .anagrams :not(.active):hover {
  background-color: gray;
  color: #fff;
}

.container .display-area .word-group .anagrams .active {
  background-color: #00C89F;
  color: #fff;
}

.container .word-define {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 0 15%;
  min-width: 220px;
  max-width: 400;
}

.container .word-define #highlight {
  padding: .5rem 0;
  color: #fff;
  background-color: #00C89F;
  border-radius: 6px 6px 0 0;
  text-align: center;
  text-transform: uppercase;
}

.container .word-define #definition {
  border-width: 0 1.5px;
  border-style: solid;
  border-color: #00C89F;
  padding: 1rem 1.2rem;
  text-align: justify;
  overflow-y: auto;
  max-height: 250px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .container .display-area {
    -webkit-box-flex: .9;
        -ms-flex-positive: .9;
            flex-grow: .9;
  }
  .container .word-define {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
    position: unset;
    padding: 0;
  }
  .container .word-define #highlight {
    color: unset;
    background-color: unset;
    border-radius: 0;
  }
  .container .word-define #definition {
    border: none;
    text-align: left;
    max-height: unset;
  }
}
/*# sourceMappingURL=styles.css.map */